{{#each arrayProducts}}

  <div>
    <h2>titulo:{{this.nombre}} </h2>
    <p>descripcion:{{this.descripcion}} </p>
    <p>precio: {{this.precio}} </p>
    <img src="https://placekitten.com/200/139" alt="productGato" srcset="" />
    <button>Comprar</button>
  </div>

{{/each}}